# Laboratorio 1

#  Data Types and Data Structures 

#  Basic Variable Types 

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

**Strings** in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_str1 = 'Esto es una cadena'
my_str2 = "escrita en Python"
print(my_str1 + " " + my_str2)

Esto es una cadena escrita en Python

 An **integer** is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
int_2 = 21
print(int_2)
print(type(int_2))

21
<class 'int'>

 The built-in function **int()** can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))

my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
mystring = "821"
print(type(mystring))

myint = int(mystring)
print(type(myint))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a **float**.

In [ ]:
my_float = 1.0
print(type(my_float))

my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
flt = 128.0
print(type(flt))

mint = 128
print(type(mint))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function **float()** can convert a string or an integer into a float.

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
mystr = "832"
myflt = float(mystr)
print(type(myflt))

myint_2 = 189
myflt_2 = float(myint_2)
print(type(myflt_2))

<class 'float'>
<class 'float'>

A boolean, or **bool**, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
my_bool = False
print(my_bool)

print(type(my_bool))

False
<class 'bool'>

In [ ]:
boolean = True
print(boolean)
print(type(boolean))

True
<class 'bool'>

**Basic Math Operations**

 The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [ ]:
print("Suma ", 6+3)
print("Resta ", 19-7)
print("Multiplicación ", 6*9)
print("División", 21/3)
print("Potencia", 8**4)

Suma  9
Resta  12
Multiplicación  54
División 7.0
Potencia 4096

**Data Collections**

**List**

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))

print(my_list[0])

print(my_list[len(my_list) - 1])

In [ ]:
mylist = ['Algoritmos', 'UN', 2021, 2, 1843, False]
print(len(mylist))

print(mylist[0])

print(mylist[len(mylist) - 1])

6
Algoritmos
False

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
mylist = ['Algoritmos', 'UN', 2021, 2, 1843, False]
mylist[5] = True
print(mylist)

['Algoritmos', 'UN', 2021, 2, 1843, True]

 A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

In [ ]:
mylist = ['Algoritmos', 'UN', 2021, 2, 1843, False]
print(mylist[2:5])

[2021, 2, 1843]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 'go', 2, 3]

In [ ]:
print(mylist[2:])

[2021, 2, 1843, False]

 And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 'go']

In [ ]:
print(mylist[:4])

['Algoritmos', 'UN', 2021, 2]

If you wish to add or remove an element from a list, you can use the **append()** and **remove()** methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
mylist = ['Universidad', 'Nacional']
mylist.append('Colombia')
print(mylist)

mylist.remove('Nacional')
print(mylist)

['Universidad', 'Nacional', 'Colombia']
['Universidad', 'Colombia']

**Tuple**

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
mytuple = ("Facultad", "de", "ingeniería")

 Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
mytuple = ("Facultad", "de", "ingeniería")
print(mytuple[2:])

('ingeniería',)

**Set**

A set is an unordered collection with no duplicate elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'AAPL', 'FB', 'F', 'GOOG', 'IBM'}

In [ ]:
country_list = ['CO', 'UK', 'ES', 'AR', 'CO', 'UK', 'US', 'US']
country_set = set(country_list)
print(country_set)

{'UK', 'US', 'ES', 'AR', 'CO'}

**Dictionary**

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [ ]:
ct_dic = {'UK': 'London', 'ES': 'Madrid', 'CO': 'Bogotá', 'MX': 'México'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
print(ct_dic['UK'])

London

 We can also change the value associated with a specified key:

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
ct_dic['MX'] = 'Ciudad de México'
print(ct_dic['MX'])

Ciudad de México

The built-in method of the dictionary object **dict.keys()** returns a list of all the keys used in the dictionary.

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(ct_dic.keys())

dict_keys(['UK', 'ES', 'CO', 'MX'])

**Common String Operations**

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
mystr = "Bienvenidos a los strings en python"
print(mystr[14:])

los strings en python

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [ ]:
print("Counting the number of e's in this sentence".count('e'))

print('The first time e appears in this sentence'.find('e'))

print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
print("En esta cadena hay muchas llllllllllll".count('l'))

print("La letra d puede aparecer en cualquier momento".find('d'))

print("Ojala no cambien muchas letras en la oración".replace('a', 'i'))

12
9
Ojili no cimbien muchis letris en li orición

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
lab = 'Laboratorio Facultad#123'
s_list = lab.split(' ')
tipo = s_list[0]
facultad = s_list[1]
print(tipo, facultad)

numero = facultad.split('#')[1]
print(numero)

Laboratorio Facultad#123
123

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
result = 'El partido termino: Local {} - {} Visitante'.format(4,2)
print(result)

El partido termino: Local 4 - 2 Visitante

 Another way to format a string is to use the % symbol.

In [ ]:
print('pi is %f' % 3.14)

print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [ ]:
print("Hay %d maneras de resolver el problema" % 435)

print("La probabilidad de %s es %f" % ("ganar", 23.6))

Hay 435 maneras de resolver el problema
La probabilidad de ganar es 23.600000

#  Logical Operations and Loops

# Logical Operations

Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print(1 != 0)    # 1 is not equal to 0
print(5 >= 5)    # 5 is greater than or equal to 5
print(5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
print(8 == 9)    # 8 equals 9
print(0 == 0)    # 0 equals 0
print(36 != 63)    # 36 is not equal to 63
print(38 >= 35)    # 38 is greater than or equal to 35
print(1 >= 2)    # 1 is greater than or equal to 2

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print(5 > 6 and 8 > 3)
print(4 > 2 and 4 < 8)
print(3 > 6 or  0 < 2)
print(8 < 4 and 3 < 4)

False
True
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print((-3 > -8 or 0 < 56) and (5 != 7 and 9 > 1) and not ( -8 < 6 or 3 < 1 and (0 != 0 and 8 > 2)))
print(9 > -3 or 7 < 3 and (24 != 42 and 8 > 4) and not ( 6 < 5 or 2 < 9 and (21 != 4 and 8 > 2)))

False
True

**If Statement**

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else. 

```python
if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: print('i == 0 is True')

i == 0 is True

In [ ]:
color = 'white'
if color == 'white': print('The color is white')

The color is white

 As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
p = 4 % 2 == 0
q = 4 % 3 == 0
r = 4 % 4 == 0

if p and q:
  print('4 es par y múltiplo de 3')
elif p and not r:
  print('4 es par y no es múltiplo de 4')
elif p and r:
  print('4 es par y múltiplo de 4')
else:
  print('4 es impar')

4 es par y múltiplo de 4

**Loop Structure**

Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

**While Loop**

A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
x = 10

while x > 0:
  print(x)
  x -= 2

10
8
6
4
2

**For Loop**

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [ ]:
for w in ['a', 'b', 'c', 'd', 'e']: print(w)

a
b
c
d
e

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
  print(n)
  if n % 2 == 0:
    print('El número es par')
  else:
    print('El número es impar')

0
El número es par
1
El número es impar
2
El número es par
3
El número es impar
4
El número es par
5
El número es impar
6
El número es par
7
El número es impar
8
El número es par
9
El número es impar
10
El número es par

**Break and continue**

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
  print(n)
  if n % 4 == 0:
    break

1
2
3
4

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print(stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
  if n % 8 == 0:
    continue
  print(n)

1
2
3
4
5
6
7
9
10

**List Comprehension**

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
m5 = []
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  m5.append(x*5)

print(m5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

 Using list comprehension:

In [ ]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m5 = [x*5 for x in numbers]
print(m5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = [x for x in numbers if x % 2 == 0]
print(even)

[2, 4, 6, 8, 10]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print([(x, y) for x in ['Azul', 'Rojo', 'Amarillo'] for y in ['Amarillo', 'Rojo', 'Azul', 'Verde'] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['CO','AR','UK','US', 'MX'] for y in ['US','UK','MX','BR', 'LD'] if x != y])

[('Azul', 'Amarillo'), ('Azul', 'Rojo'), ('Azul', 'Verde'), ('Rojo', 'Amarillo'), ('Rojo', 'Azul'), ('Rojo', 'Verde'), ('Amarillo', 'Rojo'), ('Amarillo', 'Azul'), ('Amarillo', 'Verde')]
['CO vs US', 'CO vs UK', 'CO vs MX', 'CO vs BR', 'CO vs LD', 'AR vs US', 'AR vs UK', 'AR vs MX', 'AR vs BR', 'AR vs LD', 'UK vs US', 'UK vs MX', 'UK vs BR', 'UK vs LD', 'US vs UK', 'US vs MX', 'US vs BR', 'US vs LD', 'MX vs US', 'MX vs UK', 'MX vs BR', 'MX vs LD']

# Functions and Objective-Oriented Programming

**Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def square(n):
  return n**2

print(square(5))
print(square(12))

25
144

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print("Welcome to QuantConnect")

say_hi()

Welcome to QuantConnect

In [ ]:
def fav_number():
    print('Your fav number is 8')

fav_number()

Your fav number is 8

**Built-in Function**

range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(*range(10))

print(*range(1, 11))

print(*range(1, 11, 2))

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9

In [ ]:
print(*range(22))

print(*range(10, 18))

print(*range(-30, 20, 5))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
10 11 12 13 14 15 16 17
-30 -25 -20 -15 -10 -5 0 5 10 15

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
ct = ['UK', 'US', 'CA', 'MX', 'FR']
print("Hay {} paises participantes".format(len(ct)))
for c in range(len(ct)):
  print("El número %d corresponde a %s" % (c+1, ct[c]))

Hay 5 paises participantes
El número 1 corresponde a UK
El número 2 corresponde a US
El número 3 corresponde a CA
El número 4 corresponde a MX
El número 5 corresponde a FR

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
integers = [2, 4, 5, 8, 12]
print(list(map(float, integers)))

[2.0, 4.0, 5.0, 8.0, 12.0]

The lambda operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print(list(map(lambda x: x+1, range(10))))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

In [ ]:
print(list(map(lambda x, y: x**y, [1,2,3,4,5], [8,7,6,5,4])))

[1, 128, 729, 1024, 625]

 sorted() takes a list or set and returns a new sorted list:

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
sorted(['B','A','D','F','Z', 'L'])

['A', 'B', 'D', 'F', 'L', 'Z']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
clist = [('A', 90), ('Z', 5), ('H', 65), ('J', 2)]
sorted(clist, key = lambda x: x[0])

[('A', 90), ('H', 65), ('J', 2), ('Z', 5)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [ ]:
clist = [('A', 90), ('Z', 5), ('H', 65), ('J', 2)]
sorted(clist, key = lambda x: x[1], reverse = True)

[('A', 90), ('H', 65), ('Z', 5), ('J', 2)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
clist = [('A', 90), ('Z', 5), ('H', 65), ('J', 2)]
clist.sort(key = lambda x: x[0], reverse = True)
print(clist)

[('Z', 5), ('J', 2), ('H', 65), ('A', 90)]

**Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

In [ ]:
class Animal:
  def __init__(self, kingdom, genus, specie, extinct):
    self.kingdom = kingdom
    self.genus = genus
    self.specie = specie
    self.extinct = extinct
    self.full_name = genus + " " + specie

  def setExtinct(self, extinct):
    self.extinct = extinct

  def getFullName(self):
    return self.full_name
  
  def getExtinct(self):
    if self.extinct:
      print("Extinct")
    else:
      print("No Extinct")

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
lion = Animal("Animalia", "Panthera", "Leo", False)
dodo = Animal("Animalia", "Raphus", "Cucullatus", True)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
print(apple.ticker)
google.print_return()

google.update(912.8,913.4)
google.print_return()

AAPL
0.014465338822744034
0.0006573181419806673

In [ ]:
print(dodo.kingdom)
print(lion.getFullName())

dodo.setExtinct(False)
dodo.getExtinct()

Animalia
Panthera Leo
No Extinct

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
dodo.habitat = "Air"
dodo.habitat

'Air'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(dodo)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'extinct',
 'full_name',
 'genus',
 'getExtinct',
 'getFullName',
 'habitat',
 'kingdom',
 'setExtinct',
 'specie']

**Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [ ]:
class Mammal(Animal):
    def __init__(self, food):
      self.food = food

Then we create an object:

In [ ]:
aa = Child('AA')
print(aa.name)

aa.update(100, 102)

print(aa.open)

print(aa.close)

aa.print_return()

AA
100
102
0.020000000000000018

In [ ]:
dog = Mammal("Meat")

print(dog.food)

dog.setExtinct(False)

dog.getExtinct()

Meat
No Extinct

# NumPy and Basic Pandas

**NumPy**

NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

**Basic NumPy Arrays**

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
idh_list = [0.734, 0.753, 0.756, 0.760, 0.763, 0.764, 0.767]
idh_array = np.array(idh_list)
print(idh_array, type(idh_array))

[0.734 0.753 0.756 0.76  0.763 0.764 0.767] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
bAr = np.array([[0,1], [1,0]])

print(bAr, type(bAr))

[[0 1]
 [1 0]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
Ar.shape

(2, 2)

In [ ]:
bAr.shape

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])

print(Ar[1])

[1 3]
[2 4]

In [ ]:
print(bAr[0])

print(bAr[1])

[0 1]
[1 0]

If we want to access the matrix by column instead:

In [ ]:
print('First column:', Ar[:,0])

print('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
print('First column:', bAr[:,0])

print('Second column:', bAr[:,1])

First column: [0 1]
Second column: [1 0]

**Array Functions**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
np.log(idh_array)

array([-0.30924625, -0.28369005, -0.2797139 , -0.27443685, -0.27049725,
       -0.26918749, -0.26526848])

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print(np.mean(idh_array))
print(np.std(idh_array))
print(np.sum(idh_array))
print(np.max(idh_array))

0.7567142857142858
0.010277774713488553
5.297000000000001
0.767

**Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [ ]:
import pandas as pd

**Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
idh = [0.734, 0.753, 0.756, 0.760, 0.763, 0.764, 0.767]

idhs = pd.Series(idh)

print(idhs)

0    0.734
1    0.753
2    0.756
3    0.760
4    0.763
5    0.764
6    0.767
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
idhs = pd.Series(idh, index = ["2013", "2014", "2015", "2016", "2017", "2018", "2019"])
print(idhs)

2013    0.734
2014    0.753
2015    0.756
2016    0.760
2017    0.763
2018    0.764
2019    0.767
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)

In [ ]:
idhs.index = ['2019', '2018', '2017', '2016', '2015', '2014', '2013']
print(idhs)

2019    0.734
2018    0.753
2017    0.756
2016    0.760
2015    0.763
2014    0.764
2013    0.767
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64
a    143.73
b    145.83
c    143.68
d    144.02
dtype: float64

In [ ]:
print(idhs[4:])
print(idhs[:-3])

2015    0.763
2014    0.764
2013    0.767
dtype: float64
2019    0.734
2018    0.753
2017    0.756
2016    0.760
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.5
a    143.73
b    145.83
c    143.68
d    144.02
e      0.00
f    142.62
dtype: float64

In [ ]:
print(idhs["2019"])

idhs[4] = 0.770

print(idhs)

0.734
2019    0.734
2018    0.753
2017    0.756
2016    0.760
2015    0.770
2014    0.764
2013    0.767
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [ ]:
idhs = pd.Series(idh, name = "IDH Colombia")
print(idhs)
print(idhs.name)

0    0.734
1    0.753
2    0.756
3    0.760
4    0.763
5    0.764
6    0.767
Name: IDH Colombia, dtype: float64
IDH Colombia

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [ ]:
print(idhs.describe())

count    7.000000
mean     0.756714
std      0.011101
min      0.734000
25%      0.754500
50%      0.760000
75%      0.763500
max      0.767000
Name: IDH Colombia, dtype: float64

**Time Index**

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
year_index = pd.date_range("2013-12-31", periods = len(idh), freq= "Y")
print(year_index)

idhs.index = year_index

print(idhs)

DatetimeIndex(['2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2013-12-31    0.734
2014-12-31    0.753
2015-12-31    0.756
2016-12-31    0.760
2017-12-31    0.763
2018-12-31    0.764
2019-12-31    0.767
Freq: A-DEC, Name: IDH Colombia, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [ ]:
idhs.index = [7,6,5,4,3,2,1]
print(idhs)
print(idhs[3])

7    0.734
6    0.753
5    0.756
4    0.760
3    0.763
2    0.764
1    0.767
Name: IDH Colombia, dtype: float64
0.763

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
print(idhs.iloc[0])

0.734

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
idhs.index = year_index

print(idhs["2016-12-31"])

0.76

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print(idhs['2014-01-15':'2019-08-08'])

2014-12-31    0.753
2015-12-31    0.756
2016-12-31    0.760
2017-12-31    0.763
2018-12-31    0.764
Freq: A-DEC, Name: IDH Colombia, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print(idhs[idhs < np.mean(idhs)])
print(idhs[(idhs > np.mean(idhs)) & (idhs < np.mean(idhs) + 0.34*np.std(idhs))])

2013-12-31    0.734
2014-12-31    0.753
2015-12-31    0.756
Freq: A-DEC, Name: IDH Colombia, dtype: float64
2016-12-31    0.76
Freq: A-DEC, Name: IDH Colombia, dtype: float64